.about-container {
  margin: 0;
  text-align: left;
  width: 100vw;
  padding-left: 0;
  padding-right: 0;
}

.about-section {
  padding: 5%;
  margin: 0;
  min-height: 50vh;
  background: linear-gradient(#0b0b0c, #222227);
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.about-heading {
  display: flex;
  align-items: center;
}

.about-heading-right {
  justify-content: flex-end;
}

.about-heading h1, .about-heading h2 {
  margin: 0;
}

.about-text-left, .about-text-right {
  max-width: 70%;
}

.about-text-right {
  margin-left: auto;
  margin-right: 0;
}

@media (max-width: 600px) {
  .about-text-left,
  .about-text-right {
    max-width: 100%;
  }
}