.project-card {
  padding: 20px;
  flex-grow: 1;
  flex-basis: 0;
}

.single-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card-content {
  flex-grow: 1;
}

.card-row {
  margin-bottom: 1%;
  justify-content: center;
  align-items: stretch;
}

.disabled-button:hover {
  background-color: transparent;
  cursor: default;
}